body {
    background-color: rgba(221, 220, 220, 0.336);
    /* background-image: url(./assets/mountainBackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    top: 0;
    background-position-x: 80%;
    height: 100vh; */

}
#mc_embed_signup{
    background: none; 
    clear:left; 
    max-width: 360px;
}
#mc_embed_signup .button {background-color: #eb8c2d; }