html {
    /* background-color: rgba(221, 220, 220, 0.336); */
    background-image: url(./assets/mountainBackgroundBlur.png);
    background-attachment: fixed;
    /*have to check if this really does work on safari...https://css-tricks.com/perfect-full-page-background-image/*/
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    top: 0;
    background-position-x: 80%;
    height: 100vh;
}

.expansionPanel ul {
    padding-inline-start: 10px;
}

.winkAfter::after {
    content: ' \1F609';
}

.bibliographyTitle{
    color: '#bdbdbd';
    /* This can be used where this sheet is imported. It's not everywhere; I don't think it's worth importing the sheet just for this one class.*/
}

